@use "../../../styles/abstracts/variables" as *;

.mobile-menu {
  position: fixed;
  inset: 0;
  background: rgba(15, 15, 15, 0.95);
  backdrop-filter: blur(24px);
  color: white;
  z-index: 2000;
  padding: 60px;
  transform: translateX(-100%);
  transition: 0.6s;
  height: 100vh;
}

// active state

.mobile-menu.active {
  transform: translateX(0);
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 34px;
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 60px;
}

nav a {
  font-family: $heading;
  font-size: 30px;
  position: relative;
  width: max-content;
  transition: 0.3s;
}
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 1px;
  background: $gold;
  transition: 0.35s;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: $gold;
  transform: translateX(8px);
  letter-spacing: 2px;
}

.menu-bottom {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.menu-bottom h5 {
  margin-bottom: 15px;
  color: $gold;
}

.menu-bottom div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  width: 320px;

  height: 52px;

  padding: 0 18px;

  background: transparent;

  color: white;
  border-radius: 10px;

  transition: 0.3s;

  border: 1px solid rgba(255, 255, 255, 0.2);
}
input:focus {
  outline: none;

  border-color: $gold;
}

form button {
  width: 160px;

  height: 50px;

  background: $gold;
  border-radius: 10px;

  overflow: hidden;

  position: relative;
  color: white;

  transition: 0.3s;
}

form button:hover {
  background: white;
  transform: translateY(-2px);

  box-shadow: 0 12px 30px rgba(198, 169, 106, 0.25);
  color: black;
}

@media (max-width: 768px) {
  .mobile-menu {
    padding: 30px;
  }

  nav a {
    font-size: 36px;
  }

  .menu-bottom {
    flex-direction: column;

    gap: 40px;
  }

  input {
    width: 100%;
  }
}
