@use "../../../styles/abstracts/variables" as *;

.sticky-cart {
  position: fixed;
  top: 50%;
  right: 30px;

  width: 210px;
  height: 250px;
  background: white;

  z-index: 9999;

  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;

  border: 1px solid $color-border;
  border-radius: 12px;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);

  transition: opacity 0.4s ease;
}

.sticky-cart.show {
  top: 50%;                 // important
  transform: translateY(-50%);
  opacity: 1;
  visibility: visible;
}
.sticky-cart__content {
  max-width: $container;

  margin: auto;

  height: 90px;

  display: flex;
  flex-direction: column;

  align-items: center;

  justify-content: space-between;


  padding-inline: 20px;
}
.sticky-cart__product {
  line-height: 1;
}
.sticky-cart__product span {
  color: $color-muted;

  font-size: 14px;
}
.sticky-cart__product h4 {
  margin-top: 4px;

  font-size: 20px;
}
.sticky-cart__price {
  font-size: 28px;

  font-weight: 700;
}
@media (max-width: 768px) {
  .sticky-cart {
    top: auto;
    bottom: 0;
    left: 0;

    width: 100%;
    min-width: 0;

    border-radius: 0;
    border-top: 1px solid $color-border;

    transform: translateY(120%);
    opacity: 0;
  }

  .sticky-cart.show {
    transform: translateY(0);
    opacity: 1;
  }

  .sticky-cart__content {
    height: 80px;
  }

  .sticky-cart__product {
    display: none;
  }

  .sticky-cart .quantity {
    display: none;
  }

  .sticky-cart button {
    flex: 1;
  }
}
.stock {
  color: #d46b08;

  font-size: 13px;

  margin-top: 4px;
}
.shipping {
  color: #4b7f52;

  font-size: 14px;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
  }
}
.sticky-cart .btn {
  animation: pulse 2.5s infinite;
}
// .sticky-cart.show {
//   box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
// }
